body {
    background-image: url(../src/images/background/background.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    color: white;
    width: 100%;
    transition: background-position 50ms ease-out;
}

h1, h2, h3, h4, h5 {
    font-family: "Audiowide", sans-serif;
    text-transform: uppercase;
    text-shadow: 4px 4px 3px #0000005d;
}

h2 {
    font-size: calc(1.325rem + .9vw)
}

h3 {
    font-size: calc(1rem + .7vw);
    font-family: 'Orbitron', sans-serif;
}

h4 {
    font-size: calc(1rem + .4vw)
}

footer a, .copywrite {
    font-size: calc(.7rem + .35vw);
}


body h2:first-of-type {
    animation: alternate 3s ease-in-out;
}

header {
    display: inline;
    position: fixed;
    width: 100%;
    height: 8%;
    top: 0;
    z-index: 800;
}

header span {
    filter: drop-shadow(2px 2px 20px #474747);
}


header span span {
    left: 0;
    z-index: -2;
    position: fixed;
    background: #000000;
    width: 100%;
    height: 100%;
}

header div:first-child {
    margin-left: 10%;
}



#logo-image {
    max-width: 20svh;
    height: auto;
    filter: drop-shadow(4px 4px 2px #ffffff2d);
    transition: 3s;
}

#logo-image:hover {
    transition: 3s;
    animation: squeeze 500ms alternate infinite ease-in-out, white-shadow 1s alternate infinite ease-in-out;
}

header .container:first-child {
    max-width: 100%;
}

nav li {
    clip-path: polygon(25px 0, 100% 0, calc(100% - 25px) 100%, 0% 100%);
    text-shadow: 2px 2px 4px black;
    transition: 150ms linear;
    background: linear-gradient(to bottom, 
    #000000 0%,
    #ccff00bf 28%,
    #000000 60%,
    #d3d3d3 100%
    );
    background-size: 100% 400%;
    background-position: 0% 5%;
    min-width: 160px;
}

header nav {
    margin-right: 10svw;
}

nav a {
    display: block;
    height: 100%;
    width: 100%;
    font-family: "Audiowide", sans-serif;
    margin-bottom: -5px;
    text-transform: uppercase;
    text-align: center;
    font-size: calc(0.5rem + .7vw);
    text-decoration: none;
    color: white;
    overflow: hidden;
    transition: color 500ms linear;
}

nav li {
    display: flex;
    align-items: center;
    width: 10svw;
    height: 3.5svh;
}

nav li:hover, nav li:focus {
    opacity: 60%;
    color: #272727;
    text-shadow: 2px 2px 4px white;
    transform: rotateY('angle');
    animation: move-bg-li 2000s ease;
}

@keyframes move-bg-li {
    to {
        background-position: 0% 5%;
    }
    0.025% {
        background-position: 100% 100%;
    }
    0.05% {
        opacity: 100%;
    }
    100% {
        opacity: 100%;
        background-position: 100% 100%;
    } 
}

nav li:hover a {
    color: black;
    font-weight: 900;
}

nav li:hover::after, nav li:focus {
    top: 0;
}

.navbar button img{
    width: 4svh;
    height: 4svh;
    background: black;
    
}

#offcanvasNavbar {
    width: 100%;
    background-color: #272727;
    color: #CCFF00;
    text-shadow: 2px 2px 4px #ffffff4d;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 60%);
    filter: drop-shadow(-2px -2px 10px #474747);
}

@media (min-width: 576px) {
    #offcanvasNavbar {
        width: 50%;
    }
}

.offcanvas-header {
    color: #CCFF00;
}

.nav-item {
    margin: auto;
}

.nav-link {
    font-size: x-large;
    text-shadow: 4px 4px 4px #000000ec;
    color: white;
}

.nav-link:hover {
    color: #CCFF00;
    text-shadow: 4px 4px 4px #ffffff4b;
}


#emailModal, #pictureModal {
    margin-top: 15vh;
}

.container-background {
    background-color: #ccff00bf;
}

div#clients {
    color: #1E1E1E;
}

#contact-btn, #send-btn, #close-btn, .btn-go-to, #close-btn-nav {
    transition: 500ms;
    padding: 5px;
    background-color: #CCFF00;
    opacity: 1;
    color: #272727;
    font-weight: bold;
}

#contact-btn:hover, #send-btn:hover {
    padding: 5px;
    background-color: #f1ffba;
}

#contact-btn:hover, #send-btn:hover, .btn-go-to:hover {
    transform: scale(1.05);
}

.btn-go-to {
    text-align: center;
    font-size: calc(0.4rem + .7vw);
}


#close-btn:hover, #close-btn-nav:hover {
    background-color: #f1ffba;
    transition: 500ms;
    transform: scale(1.15);
    border-radius: 50px;
}

.card {
    transition: 500ms;
    background-color: #272727;
    color: white;
}

.card:hover {
    transition: 150ms;
    box-shadow: 0 5px 10px #272727;
    transform: scale(1.05)
}

#services {
    overflow: hidden;
}

#services img {
    display: block;
    margin: auto;
    width: 80%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}

.hr-div-padding-top {
    padding-top: 35px;
}

.portfolio-div {
    background-color: #0000007e;
    padding-bottom: 10px;
    box-shadow: 0px 0px 15px #474747;
    margin-top: 20vh;
    margin-bottom: 15vh;
}

#portfolio img, #portfolio-container img {
    margin: 5px auto;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#portfolio img:hover, #portfolio-container img:hover{
    transition: 100ms;
    box-shadow: 0 0 10px 2px #ccff00;
    transform: scale(1.03)
}

#portfolio img,  #services img, #portfolio-container img {
    transition: 250ms;
}

#portfolio div {
    margin-top: 15px;
    margin-bottom: 15px;
}

#services h3 {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 1px black;
}

#clients {
    max-width: 60%;
}

#clients img {
    display: block;
    margin: 5px auto;
    width: 85%;
    height: auto;
    justify-items: center;
    filter: drop-shadow(1px 1px 5px #ffffff6e);
}

#contact {
    width: 80%;
    height: 150px;
    margin: 15px auto;
    background: #474747;
    box-shadow: 0 0px 15px black;
    border-radius: 5px;
}

h2 {
    color: white;
}

hr {
    height: 4px;
    background-color: #ccff00bf;
    color: #ccff00bf;
    box-shadow: 0px 15px 50px rgba(204, 255, 0, 1);
    opacity: 1;
}

footer {
    padding-top: 50px;
    padding-bottom: 100px;
}

footer li {
    list-style: none;
}

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    opacity: 75%;
}

.modal-content {
    background-color: #272727;
    color: white;
}

.form-control {
    background-color: #777777;
    border: none;
    color: white;
}

.form-control:hover {
    transform: scale(1.01)
}

#service-1, #service-2, #service-3 {
    width: 100%;
    height: 30rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 15px #ffffffc9;
}

#credits img {
    margin: 15px 5px;
    max-width: 5svh;
}

.margin-hr {
    margin-top: 20vh;
}

#service-1 {
    background-image: url(../src/images/services/custom\ assets.jpg);
    background-attachment: fixed;
}

#service-2 {
    background-image: url(../src/images/services/decentraland.jpg);
    background-attachment: fixed;
}

#service-3 {
    background-image: url(../src/images/services/unreal_engine.jpg);
    background-attachment: fixed;
}

.slide-in {
    left: 0%;
}

.slide-out {
    left: 50%;
}

.pipe {
    user-select: none;
    pointer-events: none;
    transition: top 50ms ease;
    position: absolute;
    width: min(10vw, 600px);
    height: auto;
    z-index: 1000;
    filter: drop-shadow(5px 10px 15px  #000000);
}

.pipe-right {
    background-position: right center;
    right: 0;
}

.pipe-left {
    transform: scaleX(-1);
    background-position: right center;
    left: 0;
}

@keyframes squeeze {
    from {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(2deg);
    }
    to {
        transform: rotate(-2deg);
    }
}

@keyframes white-shadow {
    from {
        filter: drop-shadow(4px 4px 2px #ffffff2d);
    }
    to {
        filter: drop-shadow(4px 4px 2px #ffffffcc);
    }
}

.swiper {
    width: 90%;
}

.swiper-slide {
    padding: 15px;
}

.swiper-pagination {
    width: 100%;
}

.swiper-pagination span {
    background-color: #CCFF00;
    top: 40%;
    height: 12px;
    width: 12px;
}

#assets, #portfolio-container {
    max-width: 80%;
}

@media (min-width: 992px) {
    .container-background {
        background-color: #ccff00bf;
        clip-path: polygon(0 5%, 10% 5%, 11% 0, 89% 0%, 90% 5%, 100% 5%, 100% 95%, 90% 95%, 89% 100%, 11% 100%, 10% 95%, 0% 95%);
    }
    #clients img {
        width: 7vw;
    }
}

@media (min-width: 1440px) {
    #assets {
        max-width: 70%;
    }
}

@media (min-width: 2400px) {
    #pictureModal .modal-dialog {
        max-width: 50vw;
    }
}


/* Animation de chargement de la page */
@keyframes opacityUp {
    from {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
}

@keyframes blockPosition {
    from {
        position: fixed;
    }
    10% {
        opacity: 1;
    }
}

.page-enter-opacity {
    animation: opacityUp 4000ms linear;
}

/* Animation de sortie de la page */
@keyframes opacityDown {
    from {
        opacity: 100%;
    }
    10% {
        opacity: 0%;
    }
}

.page-enter-pipe-left {
    animation: fromTopScaleX 1.5s cubic-bezier(.1,1.07,.85,1.04);
}

.page-enter-pipe-right {
    animation: fromTop 1.5s cubic-bezier(.1,1.07,.85,1.04);
}

@keyframes fromTop {
    from {
        transform: translateY(2000px);
    }
}

@keyframes fromTopScaleX {
    from {
        transform: translateY(2000px) scaleX(-1);
    }
}

.page-exit-opacity {
    animation: opacityDown 3000ms ease;
}

@keyframes shake {
    0%   { transform: translate(0, 0); }
    10%  { transform: translate(-5px, -2px); }
    20%  { transform: translate(4px, 3px); }
    30%  { transform: translate(-3px, -1px); }
    40%  { transform: translate(4px, 2px); }
    50% { transform: translate(-4px, -3px); }
    60% { transform: translate(5px, 2px); }
    70% { transform: translate(0, -3px); }
    80% { transform: translate(-3px, 1px); }
    90% { transform: translate(2px, -3px); }
    100% { transform: translate(0, 0); }
}

.neon-effect-dealer {
    position: fixed;
    z-index: -1;
    clip-path: polygon(56% 0%, 83% 17%, 78% 63%, 141% 71%, 100% 100%, 0% 100%, -4% 12%);
    width: 44%;
    height: 72%;
}

.shake {
    animation: shake 0.5s ease-in-out;
}

/* Pour Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    display: none;
}

/* Pour Firefox */
html {
    scrollbar-width: none;
}

/* Pour IE et Edge */
body {
    -ms-overflow-style: none;
}
